body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
    background: #eee;
    padding: 1.2em;
}
form > label  {
    grid-column: labels;
    grid-row: auto;
}
form > input,
form > textarea,
form > button {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;
}

form > button {
    border: 0;
    background: gray;
    color: white;
}

form > button:hover {
    cursor: pointer;
}

form > #form-alert {
    grid-column: controls;
}
